html,
body {
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: #333;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container:before,
.container:after
 {
  display: table;
  content: " ";
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}

.container {
  padding: 0;
  text-align: center;
  width: 1280px;
}

.inner-container {
  width: 1200px;
  text-align: left;
  margin: 0 auto;
  padding: 15px 0;
}

.short-container {
  width: 1200px;
  text-align: left;
  margin: 0 auto;
}

/* header */
.header {
  height: 103px;
  background-color: #0066cc;
	background-image:url(../img/head.png);
}

.header .logo {
  position: relative;
  top: 15px;
  margin-left: 20px;
  display: block;
  width: 470px;
  height: 70px;
}

/* footer */
.footer {
  height: 88px;
  background-color: #fff;
}

.copyright {
  font-size: 12px;
  color: #7b7b7b;
  line-height: 30px;
  padding-top:30px;
}

.copyright span {
  padding: 0 20px;
}


/* short-ad */
.short-ad {
  height: 153px;
  background-color: #e1f0f7;
}
.short-ad.short {
  height: 105px;
}
.short-ad.narrow {
  height: 75px;
  margin-top: 6px;
}
.short-ad .p20 {
  padding-top: 20px;
}
.short-ad .p40 {
  padding-top: 40px;
}
.short-ad .p15 {
  padding-top: 15px;
}
.short-ad.p10 {
  height: 120px;
  padding-top: 10px;
}

.short-ad .p1 {
  padding-top: 1px;
}

.short-ad h1 {
  font-size: 36px;
  font-weight: bold;
  color: #017bc7;
}

.short-ad h1.icon-zszc {
	font-size: 30px;
	padding-left: 65px;
	line-height: 65px;
	background-image: url(../img/icon-zszc.png);
	background-repeat: no-repeat;
	margin-top: 0;
}
.short-ad h1.icon-rhsy {
	font-size: 30px;
	padding-left: 65px;
	line-height: 65px;
	background-image: url(../img/icon-rhsy.png);
	background-repeat: no-repeat;
	margin-top: 0;
}
.short-ad h1.icon-qxzszc {
	font-size: 30px;
	padding-left: 65px;
	line-height: 65px;
	background-image: url(../img/icon-qxzszc.png);
	background-repeat: no-repeat;
	margin-top: 0;
}
.short-ad h1.icon-mbxxbm {
	font-size: 30px;
	padding-left: 65px;
	line-height: 65px;
	background-image: url(../img/icon-mbxxbm.png);
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-bottom: 0px;
}
.short-ad h1.icon-mbczbm {
	font-size: 30px;
	padding-left: 65px;
	line-height: 65px;
	background-image: url(../img/icon-mbczbm.png);
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-bottom: 0px;
}
.short-ad h1.icon-cx {
	font-size: 30px;
	padding-left: 65px;
	line-height: 65px;
	background-image: url(../img/icon-cx.png);
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-bottom: 0px;
}
.short-ad h1.icon-dh {
	font-size: 30px;
	line-height: 65px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.short-ad span {
  display: inline-block;
  font-family: 'Microsoft YaHei';
  font-weight: bold;
}

.short-ad .primary {
  background-image: url(icon1.png);
  background-repeat: no-repeat;
  padding-left: 32px;
  height: 30px;
  font-size: 18px;
  margin: 8px;
  vertical-align: text-top;
}

.short-ad .server {
  background-image: url(icon2.png);
  background-repeat: no-repeat;
  padding-left: 70px;
  height: 50px;
  vertical-align: baseline;
  font-size: 14px;
  color: #0066cc;
}
.yitu .sep {
	margin: 0 5px;
}
.yitu .btn {
	background-color: #fff;
	border-color: #ddd;
	padding: 4px;
	text-align: left;
	width: 22%;
}
.yitu .btn > span.cc {
	padding-left: 65px;
	display: block;
	height: 58px;
	padding-top: 5px;
}
.yitu .btn:hover {
	border-color: #fff;
}
.yitu .btn span.primary {
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #66ccff;
}
.yitu .btn span.doc {
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #0066cc;
}

.yitu .btn span.info {
    display: block;
    font-size: 14px;
    color: #66ccff;
    font-weight: bold;
    margin-top: 3px;
}

.yitu .btn span.info2 {
    display: block;
    font-size: 15px;
    color: #0066cc;
    font-weight: bold;
    margin-top: 3px;
}
.yitu .icon-yitu {
  background-image: url(../img/icon-yitu.png);
  background-repeat: no-repeat;
}
.yitu .icon-yitu2 {
  background-image: url(../img/icon-yitu2.png);
  background-repeat: no-repeat;
}

.short-ad .normal {
  font-size: 14px;
  font-weight: bold;
  background-color: #71787d;
  color: #fff;
  padding: 6px 30px;
  border-radius: 5px;
}

.short-ad .current {
  background-color: #fa8a06;
}

.short-ad .info {
  background-color: #027dc8;
}

.short-ad .sep {
  margin: 0 3px;
}
.short-ad .arrow:before {
  margin: 0 15px;
  content: '\f105';
  font-size: 20px;
	font-family: FontAwesome;
}

.short-ad .userinfo {
  font-size: 14px;
}

.fonthig {
  font-size: 28px;
  font-style:italic;
  font-weight:600;
}

/* content */
.content {
  padding: 10px 0 60px 0;
}

.content h1 {
  font-size: 24px;
}

.content-light {
  min-height: 300px;
  background-color: #f6f5f4;
}

.content-dark {
  min-height: 300px;
  background-color: #efeeec;
}

.block {
  border: 1px #c5c5c5 solid;
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
}

.block-top0 {
  border: 1px #c5c5c5 solid;
  background-color: #fff;
  padding: 0px 20px 20px 20px;
  margin: 6px 0px 20px 0px;
}

.block-zyjh {
  background-color: #fff;
  padding: 0px 20px 0px 20px;
  margin: 6px 0px 10px 0px;
}

.block-form {
  margin: 10px 70px;
  font-size: 18px;
}

.block .no-padding {
  margin-left: -75px;
  margin-right: -75px;
}

.block-form .form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.block-form .btn {
  padding-left: 40px;
  padding-right: 40px;
}

.block-tips {
  background-image: url(icon3.png);
  background-repeat: no-repeat;
  padding-left: 30px;
}

.block-tips-man {
  background-image: url(icon4.png);
  background-repeat: no-repeat;
  padding-left: 30px;
  margin-left: 70px;
}

.block .line-yellow {
  background-color: #fdf4c9;
}

.block .line-gray {
  background-color: #f7f7f7;
  line-height: 50px;
}

.block .table {
  font-size: 14px;
  table-layout:fixed !important;
}

.summary-list {
  font-size: 14px;
}

.summary-list li {
  padding: 20px 0;
  border-bottom: 1px dotted #333;
}

.summary-list li .title {
  font-weight: bold;
  color: #000;
}

.summary-list li p {
  color: #737373;
  padding: 10px 30px;
  line-height: 1.7;
}

.summary-list li .download {
  padding-left: 30px;
}

/* homepage */
.main {
	position:relative;height:635px; top: -14px;
	background-position:0 0;
	background-repeat:no-repeat;
	z-index: 10;
}
.main a:focus {
	outline:none;
}
.mainbg {
	position:absolute;height:635px; width:1280px; top: 145px;
	background-position:0 0;
	background-repeat:no-repeat;
}
.mainbg.bg-g1-1 {
	background-image:url(../img/bg-g1-1.jpg);
}
.mainbg.bg-g1-2 {
	background-image:url(../img/bg-g1-2.jpg);
}
.mainbg.bg-g1-3 {
	background-image:url(../img/bg-g1-3.jpg);
}
.maskline {
	position:relative;left:0px;top:0px;width:1280px;height:14px;
	background-color:#000;
	opacity:0.4;
	filter:alpha(opacity=40);
  z-index: 10;
}
.btn-row {
	text-align:right;font-size:0;
}
.abtn {
	display:inline-block;*display:inline;zoom:1;
	text-decoration:none;
}
.btn1 {width:400px;height:138px;background-image:url(../img/btn01.png);}
.btn2 {width:466px;height:127px;background-image:url(../img/btn02.png);}
.btn3a {width:287px;height:122px;background-image:url(../img/btn03a.png);}
.btn3b {width:251px;height:122px;background-image:url(../img/btn03b.png);}
.btn3c {width:125px;height:122px;background-image:url(../img/btn03c.png);}
.btn4 {width:170px;height:122px;background-image:url(../img/btn04.png);}
.btn5 {width:240px;height:122px;background-image:url(../img/btn05.png);}
.btn6 {width:130px;height:126px;background-image:url(../img/btn06a1.png);}
.btn7 {width:154px;height:126px;background-image:url(../img/btn071.png);}
/*.btn8 {width:154px;height:126px;background-image:url(../img/btn081.png);}*/
/* 2022年 要求暂时覆盖“儿童照片上传”模块，后续可能会恢复；.btn8 使用图片 082 替换 081 同时关闭 .btn10 */
.btn8 {width:382px;height:126px;background-image:url(../img/btn082.png);}
.btn9 {width:174px;height:122px;background-image:url(../img/btn09.png);}
/*.btn10 {width:228px;height:126px;background-image:url(../img/btn10.png);}*/
.btn1:hover {background-image:url(../img/btn01-over.png);}
.btn2:hover {background-image:url(../img/btn02-over.png);}
.btn3a:hover {background-image:url(../img/btn03a-over.png);}
.btn3b:hover {background-image:url(../img/btn03b-over.png);}
.btn3c:hover {background-image:url(../img/btn03c-over.png);}
.btn4:hover {background-image:url(../img/btn04-over.png);}
.btn5:hover {background-image:url(../img/btn05-over.png);}
.btn6:hover {background-image:url(../img/btn06a1-over.png);}
.btn7:hover {background-image:url(../img/btn071-over.png);}
/*.btn8:hover {background-image:url(../img/btn081-over.png);}*/
/* 2022年 要求暂时覆盖“儿童照片上传”模块，后续可能会恢复；.btn8 使用图片 082 替换 081 同时关闭 .btn10 */
.btn8:hover {background-image:url(../img/btn082-over.png);}
.btn9:hover {background-image:url(../img/btn09-over.png);}
/*.btn10:hover {background-image:url(../img/btn10-over.png);}*/

.prcode {
	position:absolute;left:25px;bottom:53px;width:98px;height:98px;
	/*background-image:url(../img/prcodea.png);*/
}

.login {
	position:absolute;left:395px;top:188px;width:322px;height:321px;display:none;
}
.login .title {
	height:45px;background-image:url(../img/logintitle.jpg);
	clear: both;
}
.login .title .closebox {
	float: right;
	margin-top: 8px;
	margin-right: 15px;
	color: #fff;
	cursor: pointer;
}
.loginform {
	height:220px;padding:30px;
	background-color:#fff;
}
.loginform .field {
	padding:5px;text-align:center;
}
.loginform .int-username {
	padding:0 15px 0 35px;margin:0 0 0 0;vertical-align:middle;
	width:201px;height:32px;line-height:32px;
	border:none;background-color:transparent;
	background-image:url(../img/username.jpg);
	background-repeat: no-repeat;
}
.loginform .int-password {
	padding:0 15px 0 35px;margin:0 0 0 0;vertical-align:middle;
	width:201px;height:32px;line-height:32px;
	border:none;background-color:transparent;
	background-image:url(../img/password.jpg);
	background-repeat: no-repeat;
}
.loginform  .loginbtn {
	padding:0 0 0 0;margin:0 0 0 0;
	width:121px;height:72px;
	border:none;background-color:transparent;
	background-image:url(../img/loginbtn.jpg);
}
.shadow {
	-moz-box-shadow:1px 1px 10px #222;
	-webkit-box-shadow: 1px 1px 10px #222;
	box-shadow:1px 1px 10px #222;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#444444');
}

/* qitem */
.qitem {
	padding:1px 0 1px 0;border-top:1px dotted #222;
}
.qitem:first-child {
	border-top:none;
}
.qitem .ques {
	position:relative;
	display:inline-block;padding:5px 0 0 5px;margin-bottom:1px;
	font-size:18px;color:#222;cursor:pointer;
}
.qitem .ques:before {
  margin: 0 15px;
  content: '\f0da';
  font-size: 20px;
  font-family: FontAwesome;
}
.qitem .ques.expand:before {
	content: '\f0dd';
}
.qitem .ques + .answer {
	display:none;
	position:relative;
	line-height:24px;padding-left:4px;
	background-color:#fffde8;border:1px solid #ffd0a3;
	margin-left: 6px;
}
.qitem .ques.expand + .answer {
	display: block;
}
.qitem .answer .a {
    position:absolute;width:0;height:0;font-size:0;overflow:hidden;
}
.qitem .answer .a.bot {
    left:70px;top:-20px;border-width:10px 8px;border-style:solid;
    border-color:transparent transparent #ffd0a3 transparent;
}
.qitem .answer .a.top {
    left:70px;top:-18px;border-width:10px 8px;border-style:solid;
    border-color:transparent transparent #fffde8 transparent;
}
.qitem .answer .txt {
	font-size:16px;color:#5b5b5b;padding:10px 10px 10px 20px;
}
.qitem .ques .aa {
	position:absolute;left:10px;top:0px;height:50px;
	font-size:40px;color:#ff6600;
}
.qitem .answer .aa {
	position:absolute;left:15px;top:15px;height:50px;
	font-size:40px;color:#2e9700;
}

/* detail2 */
.detail2 .brcode {
	width:800px;margin:0 auto;
	text-align:right;
}
.detail2 .title {
	width:800px;margin:0 auto;
	line-height:24px;text-align:left;padding:0 0 10px 0;
}
.detail2 .title .name {
	font-size:21px;color:#777;
}
.detail2 .title .info {
	font-size:15px;color:#777;
}
.detail2 .box {
	width:800px;margin:0 auto;
	border:1px solid #e8e8e8;
}
.detail2 .box .head {
	position:relative;height:40px;line-height:40px;text-align:center;
	font-size:16px;color:#777;
	background-color:#f7f7f7;
}
.detail2 .box .head .print {
	position:absolute;top:0;right:0;width:100px;height:40px;line-height:40px;
	background-color:#94c93d;
	font-size:15px;color:#fff;text-align:center;cursor:pointer;
}
.detail2 .box .body {
	padding:40px;
}
.detail2 .box .body p {
	text-indent:28px;
	line-height:30px;
	font-size:15px;color:#747474;
	background-color:#fff;
}
.detail2 .box .body .int {
	text-indent:0;
	display:inline-block;line-height:30px;padding:0 20px 0 20px;
	font-size:15px;color:#747474;
	border-bottom:2px solid #777;
}
.btn-printPdf {
	line-height: 36px;
}
.btn-printPdf i {
	background-image:url(../img/print_icon.png); background-position:0px -112px; width:37px; height:36px; display: inline-block;
}

.print1 i{background-image:url(../img/print_icon.png); background-repeat:no-repeat; float:left; display:inline; padding-right:8px;}

.print2{width:30%; border: none; display:inline; margin-left:20px;float:left}

.print2 i{background-position:0px -112px; width:37px; height:36px;}

.pdf_r1{display:inline; float:right;}
.pdf_r1 .input1{width:70px; height:29px; color:#fff; margin-right:10px;  padding:5px; background-color:#94C83D; border:1px solid #94C83D;}
.pdf_r1 .input2{width:70px; height:29px; color:#fff;  padding:5px; background-color:#24B6ED; border:1px solid #24B6ED;}

.telList .table th.sh1 {
	background-color: #385dad;
}
.telList .table th.sh2 {
	background-color: #4693d9;
}

.telList .table tr.st1 {
	background-color: #ebf2eb;
}
.telList .table tr.st2 {
	background-color: #c7e0e7;
}
.telList .table td, .telList .table th {
	border: solid 2px #fff;
	text-align: center;
	vertical-align: middle;
	word-wrap: break-word;
}
.telList .table th {
	color: #fff;
	font-size: 120%;
	font-weight: bold;
}
.popdebug {
   z-index:1000;
   width:600px;
   height:400px;
   position:absolute;
   top:0px;
   left:0px;
   border:5px solid #ff8888;
   text-align:center;
   background:#fff;
   padding: 40px;
   display: none;
 }
.popdebug p {
	font-size: 36px;
}
.popdebug button {
	font-size: 24px;
}

.form-container{
	overflow: hidden;
	background-color: #e1f0f7;
}
.notic{
	font-size:14px;
	color: red;
	padding-top:0px;
}
.notic.m{
	/* position: absolute; */
	line-height: 1.2
}
#sendNotice{
	margin-left:5px;
}
.codeimg{
	float: left;
	margin-left:5px;
	border:1px solid #787878;
	width:120px;
	height: 30px;
	cursor: pointer;
}
.span-validate{
	position: absolute;
	top:-15px;
	left:15px;
	font-weight: normal;
	z-index: 1000;
}
.pull-left .span-validate{
	left:0px;
}
.custom-form {
  margin: 20px 70px;
  font-size: 18px;
}
.form-horizontal.custom-form-block .form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-horizontal.custom-form .control-label {
    padding-top: 2px;
    margin-bottom: 0;
    text-align: right;
  }
.custom-form .form-control-static{
	padding-top: 2px;
    padding-bottom: 0px;
}
.custom-form .form-control-static.notic{
	padding-top: 0px;
}
.form-horizontal.custom-form .radio,
.form-horizontal.custom-form .checkbox,
.form-horizontal.custom-form .radio-inline,
.form-horizontal.custom-form .checkbox-inline {
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: 0;
}
.custom-form input[type="radio"],.custom-form input[type="checkbox"] {
  margin-top: 9px;
}
.custom-form .form-control {
    padding: 2px 6px !important;
}
.custom-form .label-wide {
    padding-left: 3px;
    padding-right: 3px;
}
.custom-form .select2-container.form-control.input-sm .select2-choice {
	height: 30px !important
}

.custom-form .select2-container .select2-choice .select2-arrow {
	background: none !important;
	border-left: none !important
}

.custom-form .select2-container.form-control .select2-choice abbr {
	top: 10px !important
}

.custom-form .select2-container.form-control.input-sm .select2-choice abbr {
	top: 9px !important
}

.custom-form .select2-container .select2-choice .select2-arrow b {
	background-position: 0 3px !important
}

.custom-form .select2-container.form-control.input-sm .select2-choice .select2-arrow b
	{
	background-position: 0 2px !important
}

.custom-form .select2-drop-active {
	border-color: #e2e7eb !important;
	-webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .2) !important;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .2) !important
}

.custom-form .select2-drop.select2-drop-above {
	-webkit-box-shadow: 0 -2px 2px -1px rgba(0, 0, 0, .2) !important;
	box-shadow: 0 -2px 2px -1px rgba(0, 0, 0, .2) !important
}

.custom-form .select2-search input {
	border-color: #e2e7eb !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important
}

.custom-form .select2-drop {
	border-color: #e2e7eb !important;
	padding-top: 5px !important;
	border-top: 1px solid #e2e7eb !important
}

.custom-form .select2-results .select2-highlighted {
	background: #edf0f5 !important;
	color: #222 !important
}
.custom-form .select2-container.form-control .select2-choice {
    background: none;
    padding: 0px 6px !important;
    line-height: 30px !important;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none;
    height: 32px !important
}
.block-tips.custom-tips{
	font-size:18px;
	background-position: 0px center;
}
.custom-tips font{
	color:red;
	font-weight: bold;
} 
.bg_bmlczn {
  width:1284px;
  height: 687px;
  background-color: #0066cc;
/*   background-image:url(../img/lczn.png); */
}
.bg_bmlczn2 {
  width:1284px;
  height: 680px;
  background-color: #0066cc;
  background-image:url(../img/lczn.png); 
}
.ksbm {
  width:360px;
  height: 59px;
  background-image: url(../img/ksbm.png); 
  background-repeat: no-repeat;
}
.gbxxbm {
  width:300px;
  height: 100px;
  border-radius:10px;
  background-color: #00BFFF;
  color: #FFFFFF;
  font-size:24px;
}
.gbxxbm_hover {
  width:300px;
  height: 100px;
  border-radius:10px;
  background-color: #1E90FF;
  color: #FFFFFF;
  font-size:28px;
}
.xxbm_disabled{
  width:300px;
  height: 100px;
  border-radius:10px;
  background-color: #C1C1C1;
  color: #FFFFFF;
  font-size:28px;
}
.mbxxbm {
  width:300px;
  height: 100px;
  border-radius:10px;
  background-color: #DEB887;
  color: #FFFFFF;
  font-size:24px;
}
.mbxxbm_hover {
  width:300px;
  height: 100px;
  border-radius:10px;
  background-color: #F4A460;
  color: #FFFFFF;
  font-size:28px;
}
.xxzpsc {
  width:550px;
  height: 100px;
  border-radius:10px;
  background-color: #00BFFF;
  color: #FFFFFF;
  font-size:24px;
}
.xxzpsc_hover {
  width:550px;
  height: 100px;
  border-radius:10px;
  background-color: #1E90FF;
  color: #FFFFFF;
  font-size:28px;
}
.czzpsc {
  width:550px;
  height: 100px;
  border-radius:10px;
  background-color: #DEB887;
  color: #FFFFFF;
  font-size:24px;
}
.czzpsc_hover {
  width:550px;
  height: 100px;
  border-radius:10px;
  background-color: #F4A460;
  color: #FFFFFF;
  font-size:28px;
}
.msg_left{
  font-size: 18px;
  padding-left:75px;
  padding-bottom:10px;
}
.msg_right{
  font-size: 18px;
  text-align: right;
  padding-top:18px;
}
.xxbm_red {
  color:  #FF0000 ;
}
.xxbm_bottom {
  position:absolute;
  bottom:0px;
  top:auto;
}
.zsjh_red {
  color:  #FF0000 ;
  font-size: 16px;
  font-weight:normal
}
.bmzy_title {
  font-size: 22px;
}
.bmzy_title_p {
  padding-left: 37px;
  margin-bottom:5px;
}
.bmzy_title_p2 {
  padding-left: 17px;
  margin-bottom:10px;
}
.bmzy_jzqrwz {
  padding-left: 10px;
  margin-bottom:5px;
}
.div_jzqrwz {
  width:800px;
  margin-left: 17px;
  border:1px solid #ff0000; 
  padding-top:5px;
  margin-top:5px;
  margin-bottom:5px;
}
.bmtjzy_title {
  width:28%;
  padding-top:0px;
  margin-left: 37px;
}
.block-step{
  background-image: url(icon5.png);
  background-repeat: no-repeat;
  background-position-y:10px;
  padding-left: 37px;
}
.block-error{
  background-image: url(icon6.png);
  background-repeat: no-repeat;
  background-position:42% 50%;
  padding-left: 10px;
}
.block-success{
  background-image: url(icon7.png);
  background-repeat: no-repeat;
  background-position:42% 50%;
  padding-left: 58px;
}
.btn-close {
  width:148px;
  height: 35px;
  background-image: url(../img/btn_close.png);
  background-repeat: no-repeat;
}
.hr-line{
	height: 2px; 
	border: none; 
	border-top: 3px solid #c5c5c5;
}
.hr-line2{
	height: 2px; 
	border: none; 
	border-top: 3px solid #c5c5c5;
	margin-bottom:0px;
}
.hr-line3{
	height: 2px; 
	border: none; 
	border-top: 2px solid #c5c5c5;
	margin-bottom:0px;
	margin-left: 37px;
	margin-top: 10px;
}
.td-zy1{
	text-align:center;
	background-color:#D1EBEA;
	border:double #FFFFFF; 
	border-width:0px 1px 1px 1px;
}
.td-zy2{
	text-align:center;
	background-color:#D1EBEA;
	border:double #FFFFFF; 
	border-width:1px 1px 0px 1px;
}
.td-zy1mc{
	background-color:#E9F5F5;
	border:double #FFFFFF; 
	border-width:0px 1px 1px 1px;
	padding-left:5px;
}
.td-zy2mc{
	background-color:#E9F5F5;
	border:double #FFFFFF; 
	border-width:1px 1px 0px 1px;
	padding-left:5px;
}
.div-ksbm-lc{
	filter:alpha(opacity:30); 
	width:500px; 
	height:115px; 
	float:left; 
	text-align:left;
}
.gshStep1 {
	margin-left:8%;
  width:861px;
  height: 476px;
  background-color: #0066cc;
  background-image:url(../img/gshStep1.jpg);
  background-size:100% 100%; 
}
.gshStep2 {
	margin-left:8%;
  width:861px;
  height: 452px;
  background-color: #0066cc;
  background-image:url(../img/gshStep2.jpg); 
  background-size:100% 100%; 
}
.gshStep3 {
	margin-left:8%;
  width:861px;
  height: 564px;
  background-color: #0066cc;
  background-image:url(../img/gshStep3.jpg); 
  background-size:100% 100%; 
}
.gshStep4 {
	margin-left:8%;
  width:861px;
  height: 564px;
  background-color: #0066cc;
  background-image:url(../img/gshStep4.jpg); 
  background-size:100% 100%; 
}
.pshStep1 {
	margin-left:8%;
  /* width:961px; */
  /*  height: 442px; */
  width:861px;
  height: 471px;
  background-color: #0066cc;
  background-image:url(../img/pshStep1.jpg);
  background-size:100% 100%; 
}
.pshStep2 {
	margin-left:8%;
  /* width:961px;
  height: 473px; */
  width:861px;
  height: 834px;
  background-color: #0066cc;
  background-image:url(../img/pshStep2.jpg); 
  background-size:100% 100%; 
}
.pshStep21 {
	margin-left:8%;
  /* width:961px;
  height: 473px; */
  width:861px;
  height: 513px;
  background-color: #0066cc;
  background-image:url(../img/pshStep21.jpg); 
  background-size:100% 100%; 
}
.pshStep3 {
	margin-left:8%;
  /* width:960px;
  height: 548px; */
  width:861px;
  height: 655px;
  background-color: #0066cc;
  background-image:url(../img/pshStep3.jpg); 
  background-size:100% 100%; 
}
.pshStep4 {
	margin-left:8%;
  /* width:963px;
  height: 468px; */
  width:861px;
  height: 639px;
  background-color: #0066cc;
  background-image:url(../img/pshStep4.jpg); 
  background-size:100% 100%; 
}
.pshStep5 {
	margin-left:8%;
  /* width:961px;
  height: 547px; */
  width:861px;
  height: 492px;
  background-color: #0066cc;
  background-image:url(../img/pshStep5.png); 
  background-size:100% 100%; 
}

.mshStep1 {
	margin-left:8%;
  /* width:962px; */
  /*  height: 591px; */
  width:861px;
  height: 508px;
  background-color: #0066cc;
  background-image:url(../img/mshStep1.jpg);
  background-size:100% 100%; 
}
.mshStep2 {
	margin-left:8%;
  /* width:961px; */
  /*  height: 491px; */
  width:861px;
  height: 762px;
  background-color: #0066cc;
  background-image:url(../img/mshStep2.jpg);
  background-size:100% 100%; 
}
.mshStep21 {
	margin-left:8%;
  /* width:961px; */
  /*  height: 491px; */
  width:861px;
  height: 513px;
  background-color: #0066cc;
  background-image:url(../img/mshStep21.jpg);
  background-size:100% 100%; 
}
.mshStep3 {
	margin-left:8%;
  /* width:962px; */
  /*  height: 579px; */
  width:861px;
  height: 590px;
  background-color: #0066cc;
  background-image:url(../img/mshStep3.jpg);
  background-size:100% 100%; 
}
.mshStep4 {
	margin-left:8%;
  /* width:962px; */
  /*  height: 454px; */
  width:861px;
  height: 565px;
  background-color: #0066cc;
  background-image:url(../img/mshStep4.jpg);
  background-size:100% 100%; 
}
.mshStep5 {
	margin-left:8%;
  /* width:961px;
  height: 547px; */
  width:861px;
  height: 492px;
  background-color: #0066cc;
  background-image:url(../img/pshStep5.png); 
  background-size:100% 100%; 
}

.mshArtStep1 {
	margin-left:8%;
  /* width:962px; */
  /*  height: 591px; */
  width:861px;
  height: 513px;
  background-color: #0066cc;
  background-image:url(../img/mshArtStep1.jpg);
  background-size:100% 100%; 
}
.mshArtStep2 {
	margin-left:8%;
  /* width:961px; */
  /*  height: 491px; */
  width:861px;
  height: 526px;
  background-color: #0066cc;
  background-image:url(../img/mshArtStep2.jpg);
  background-size:100% 100%; 
}
.mshArtStep3 {
	margin-left:8%;
  /* width:962px; */
  /*  height: 579px; */
  width:861px;
  height: 584px;
  background-color: #0066cc;
  background-image:url(../img/mshArtStep3.jpg);
  background-size:100% 100%; 
}
.mshArtStep4 {
	margin-left:8%;
  /* width:962px; */
  /*  height: 454px; */
  width:861px;
  height: 617px;
  background-color: #0066cc;
  background-image:url(../img/mshArtStep4.jpg);
  background-size:100% 100%; 
}
.qrmsgStep{
  margin-left:130px;
  width:350px;
  height: 32px;
  background-color: #0066cc;
  background-image:url(../img/qrmsgStep.jpg);
  background-size:100% 100%; 
}
/* 报名按钮字体加大加粗 */
.font-large-bold{
	font-size: 20px;
	font-weight: bold;
}
/* 报名按钮红色 */
.color-red{
	background-color:#FF0000;
	border-color:#FF0000;
}